/* Base Styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #FFD700;
    line-height: 1.6;
}

a {
    color: #FFD700;
    text-decoration: none;
}

h1, h2, h3 {
    font-family: 'CustomFont', sans-serif;
}

header, footer {
    background-color: #000;
    border-bottom: 5px solid transparent;
    border-image: linear-gradient(45deg, #FFD700, #FFBF00) 1;
}

footer {
    border-top: 5px solid transparent;
    border-image: linear-gradient(45deg, #FFD700, #FFBF00) 1;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #9235b4;
}

/* Main Content */
#main-content {
    padding: 20px;
}

.content-section {
    display: none;
}

h
