/* Global Styles */
body {
    background-color: #000000;
    color: #FFD700;
    font-family: 'Yatra One', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: #FFD700;
    text-decoration: none;
}

a:hover {
    color: #9235b4;
}

header, footer {
    background-color: #000000;
    border-bottom: 2px solid #FFD700;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

h1, h2, h3 {
    color: #FFD700;
    font-family: 'Yatra One', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

button {
    background-color: #9235b4;
    border: none;
    color: #FFD700;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #FFD700;
    color: #9235b4;
}

footer {
    border-top: 2px solid #FFD700;
    padding: 10px 0;
}

/* Responsive Styles */
@media (max-width: 768px) {
    nav ul li {
        display: block;
        margin: 10px 0;
        text-align: center;
    }
}
